@font-face {
    font-family: 'UbuntuMono';
    src: url('UbuntuMono-Regular.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    padding: 20px;
    margin: 0;
    background-color: #2c3863;
    font-family: sans-serif;
    position: relative; /* for the resize handle */
}

g-knob {
    width: 72px;
    height: 72px;
    --circle-color: #ffffff3f;
    --dot-off-color: #2c3863;
    --dot-on-color: #ffffff;
    --track-color: #ffffff0f;
    --value-color: #ff007f;
}

g-resize {
    --color: #ffffff7f;
}

#main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.parameter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parameter > label {
    font-family: UbuntuMono;
}

.p-label {
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
    color: #ffffff;
}

.p-value {
    font-size: 12px;
    margin-top: 5px;
    color: #ffffff7f;
    display: none; /* FIXME */
}
