@font-face {
    font-family: 'UbuntuMono';
    src: url('UbuntuMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Satisfy';
    src: url('Satisfy-Regular.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    padding: 20px;
    margin: 0;
    background-color: #2c3863;
    color: #ffffff;
    position: relative; /* for the resize handle */
}

g-knob {
    width: 30vh;
    height: 30vh;
    --circle-color: #ffffff3f;
    --dot-off-color: #ffffff;
    --dot-on-color: #ffffff;
    --track-color: #ffffff0f;
    --value-color: #ff7f00;
}

g-resize {
    --color: #ffffff7f;
}

#main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    font-size: 30px;
    font-family: Satisfy;
}

#knobs {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.knob > label {
    font-family: UbuntuMono;
}

.knob {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-label {
    font-size: 15px;
}

.p-value {
    font-size: 12px;
    margin-top: 5px;
    display: none; /* FIXME */
    opacity: 0.75;
}
